
#checkbox {
  background: #818181;
}
.category-name {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #818181;
}

.button-apply {
  width: 180px;
  height: 39px;
  background: #4E4E4E;
  border-radius: 10px;
  color: white;
}
