* {
  margin: 0;
  padding: 0;
}

app-header {
  height: 10vh;
}

#main {
  display: flex;
  min-height: calc(100vh - 40vh);

  app-filter {
    flex: 0 0 15vw;
    order: -1;
    border-right: 1px solid #D0D0D0;
  }

  app-content {
    flex: 1;
  }
}

app-content, app-filter {
  padding: 1em;
}
