#category {
  margin: 3vh 0 0 3vh;

  .category-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #818181;
    width: 151px;
    height: 28px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid #D0D0D0;
    margin: 3vh 0 3vh 0;

    .drink {
      margin: 5vh 0 3vh 0;
      width: 218px;
      height: 191px;

      img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
      }

      .drink-name {
        font-family: Roboto;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-top: 2vh;
        color: #000000;
      }
    }
  }

}
